// bigfooter component
.sense-main-bigfooter{
    position: relative;
    background-color: #292838;
    padding: 70px 0 40px;
    @include for-tablet-landscape-up{
        padding: 0;
    }
    // inner area with content
    .inner-content{
        padding: 0 7rem 0 7rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 45px;
        @include for-tablet-landscape-up{
            padding: 30px 20px;
            margin: 0;
        }
        // row
        &-row{
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: 410px calc(100% - 410px);
            @include for-tablet-landscape-up{
                grid-template-columns: 100%;
            }
            // left column
            .inner-left-content{        
                display: grid;
                row-gap: 20px;
                @include for-tablet-landscape-up{
                    grid-template-columns: 100%;
                }    
                .heading{
                    display: flex;
                    align-items: center;
                    h2{
                        font-size: 22px;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-bottom: 10px;
                    }
                }
                .body{
                    padding: 0 20px 0 15px;
                    p{
                        font-size: 15px;
                        font-family: "quicksand-500";
                        color: $color-gray-400;
                        line-height: 25px;
                    }
                }
                .footer{
                    display: flex;
                    column-gap: 20px;
                    padding: 0 20px 0 10px;
                    margin-top: 10px;
                    .social-link{
                        .lab{
                            color: $color-gray-400;
                            font-size: 30px;
                            transition: all .5s;
                            &:hover{transform: translateY(-15%); color: #fff}
                        }       
                    }
                }
            }
            // right column
            .inner-right-content{
                display: grid;
                padding: 0 0 0 8rem;
                grid-template-rows: repeat(1, 1fr); 
                grid-template-columns: repeat(3, 1fr);
                @include for-tablet-landscape-up{
                    grid-template-columns: 100%;     
                    padding: 1.5rem 0 0 1rem;  
                } 
                // inner columns
                .column{
                    // heading
                    .heading{
                        color: #fff;
                        text-transform: uppercase;
                        font-family: "quicksand-500";
                        font-size: 13px;
                        word-spacing: 3px;
                    }

                    // page links container
                    .page-link-list-container{
                        margin-top: 35px;
                        @include for-tablet-landscape-up{
                            margin-top: 25px;
                            margin-bottom: 25px;
                        }
                        .page-list{
                            list-style: none;
                            &-item{
                                margin-bottom: 17px;
                                transition: all .5s;
                                @include for-tablet-landscape-up{margin-bottom: 10px;}
                                &:hover{  transform: translateX(3%);}
                                &-link{
                                    font-family: "quicksand-500";
                                    color: $color-gray-400;
                                    transition: all .5s;
                                    &:hover{color: #fff!important}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// copyright section
.copyright-section{
    position: relative;
    background-color: #23222f;
    padding: 20px 0;
    p{
        font-family: "quicksand-regular";
        text-align: center;
        color: $color-gray-400;
    }
}