/* button container */
.button-container{
    position: relative;
    /* btn component*/
    .btn{
        font-size: 16px;
        padding: 5px 15px ;
        border:none;
        padding: 7px 12px;
        color:$color-gray-500;
        cursor: pointer;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .20);
        transition: all .1s ease-in;
        
        /* blocked button */
        &.block{width: 100%;}

        /* active button */
        &:active{
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .20); 
        }

        /* different button colors */
        &-primary{      /* blue */
            @include btn-color($color-blue-500);
        }

        /* disabled button */
        &-disabled{
            @include btn-disabled();
        }
    }
}