.navbar {
  position: sticky;
  width: 100%;
  padding: 5px 25px 5px 25px;
  background: $color-blue-500;
  z-index: 1000;
  box-shadow: 0px 1px 3px $color-gray-300;
  transition: box-shadow .5s ease-in-out;
  &-collapsible {
    display: flex;
    .navbar-brand {
      display: inline-flex;
      align-items: center;
      width: fit-content;
      color: #fff;
      padding: 0 10px 0 10px;
      a {
        font-size: 22px;
        text-transform: capitalize;
        color: #fff;
        font-family: "Oswald-500";
        letter-spacing: 1px;
      }
    }
    .navbar-nav {
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      flex-wrap: wrap;

      .nav-item {
        margin: 10px;
        .nav-link {
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          padding: 10px;
          transition: background-color 0.1s ease-in;
          &:hover {
            background-color: $color-blue-400;
            color: #fff
          }
        }
      }
    }
  }
}

.floatingNav {
  position: sticky;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 1px 10px $color-gray-500;
  top:0;
  background: $color-blue-600;
  transition: all .3s ease-out;
  .navbar-brand {
    div.brand-image{
        border:1px solid red;
    }
    a{
      font-size: 25px;
      text-transform: capitalize;
      color: #fff;
      font-family: "Oswald-500";
      letter-spacing: 1px;
    }
  }

  .navbar-nav{
    .nav-item{
      .nav-link {
        color: #fff;
        &:hover{
          color: $color-gray-500;
        }
      }
    }
  }
}
