.navbar{
    padding-left:25px ;
}
.navbar-brand{
    h3{ color:blue; font-weight: 600; letter-spacing: 2px;}
    .navbar-brand--name1, .navbar-brand--name3{font-size: 2.3rem; }
    .navbar-brand--name2{ font-size: 2.9rem; }
    small{font-size: 1.5rem; font-weight: 400; color: gray}
}