// utility classes
.hidden{visibility: hidden;}
.visible{ visibility: visible;}


.modal-appear{
    top: calc(100% - 87%)!important;
    transform: translateY(100% 100%)!important;
    transition: all 0.5s ease-out;
}
.modal-disappear{
    top: -1000px!important;
    transform: translateY(-100% -100%)!important;
    transition: all 0.5s ease-in-out;
}

// active link
.active,
.active:link{
  color: $color-blue-500!important;
  i,span{
    color: $color-blue-500!important;
  }
}

// height utils
.h-0{max-height: 0;}
.h-full{max-height: 100rem!important;transition: all .4s}
