
// oswald -regular
@font-face {
    font-family: 'oswald-regular';
    font-style: normal;
    font-weight: 400;
    //font-display: optional;
    src: url('/fonts/oswald/oswald-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/oswald/oswald-v36-latin-regular.woff') format('woff'),    /* Modern Browsers */
}
// oswald-700 - latin
@font-face {
    font-family: 'oswald-500';
    font-style: normal;
    font-weight: 500;
    //font-display: optional;
    src: url('/fonts/oswald/oswald-v36-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/oswald/oswald-v36-latin-500.woff2') format('woff'),    /* Modern Browsers */
}

// titillium -regular
@font-face {
    font-family: 'titillium-regular';
    font-style: normal;
    font-weight: 400;
    //font-display: optional;
    src: url('/fonts/titillium/titillium-web-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/titillium/titillium-web-v9-latin-regular.woff') format('woff'),    /* Modern Browsers */
}
// titillium -600
@font-face {
    font-family: 'titillium-600';
    font-style: normal;
    font-weight: 600;
    //font-display: optional;
    src: url('/fonts/titillium/titillium-web-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/titillium/titillium-web-v9-latin-600.woff') format('woff'),    /* Modern Browsers */
}

// titillium -700
@font-face {
    font-family: 'titillium-700';
    font-style: normal;
    font-weight: 700;
    //font-display: optional;
    src: url('/fonts/titillium/titillium-web-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/titillium/titillium-web-v9-latin-700.woff') format('woff'),    /* Modern Browsers */
}

// mulish regular
@font-face {
    font-family: 'mulish-regular';
    font-style: normal;
    font-weight: 400;
    //font-display: optional;
    src: url('/fonts/mulish/mulish-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/mulish/mulish-v3-latin-regular.woff') format('woff'),    /* Modern Browsers */
}
// mulish 500
@font-face {
    font-family: 'mulish-500';
    font-style: normal;
    font-weight: 500;
    //font-display: optional;
    src: url('/fonts/mulish/mulish-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/mulish/mulish-v3-latin-500.woff') format('woff'),    /* Modern Browsers */
}
// mulish 600
@font-face {
    font-family: 'mulish-600';
    font-style: normal;
    font-weight: 600;
    //font-display: optional;
    src: url('/fonts/mulish/mulish-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/mulish/mulish-v3-latin-600.woff') format('woff'),    /* Modern Browsers */
}
// mulish 700
@font-face {
    font-family: 'mulish-700';
    font-style: normal;
    font-weight: 700;
    //font-display: optional;
    src: url('/fonts/mulish/mulish-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/mulish/mulish-v3-latin-700.woff') format('woff'),    /* Modern Browsers */
}


// quicksand regular
@font-face {
    font-family: 'quicksand-regular';
    font-style: normal;
    font-weight: 400;
    //font-display: optional;
    src: url('/fonts/quicksand/quicksand-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/quicksand/quicksand-v22-latin-regular.woff') format('woff'),    /* Modern Browsers */
}
// quicksand 500
@font-face {
    font-family: 'quicksand-500';
    font-style: normal;
    font-weight: 500;
    //font-display: optional;
    src: url('/fonts/quicksand/quicksand-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/quicksand/quicksand-v22-latin-500.woff') format('woff'),    /* Modern Browsers */
}